.input {
    border-radius: 0;
    border: 0;
    margin-left: -12px;
    padding-left: 30px;
}

.item-input {
    display: flex;
    align-items: center;
    margin: 2px;
}

.checkbox {
    right: -5px;
    z-index: 50;
}