.title-input{
    width: 100%;
}

.card-content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.title-h {
    height: 40px;
    padding: 0;
    text-align: center;
}

.action-btns {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.button {
    width: 100px;
}